<a href="https://colab.research.google.com/github/Murakami-Shoya/everyday_programming/blob/master/OR_repo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import string
# for i in string.ascii_letters[:10]:
#     print(i)

# i == string.ascii_letters[9]

In [49]:
# def maximaize(people, days):
#     output = "maximize\n"
#     for person in string.ascii_letters[:people]:
#         for day in range(days):
#             output += str("x_" + person + "_" + str(day+1) + " + ")
#         if(person != string.ascii_letters[people-1]):
#             output += "\n"
#         else:
#             output = output.rstrip(' + ')
    
#     return output

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/drive/MyDrive/or_schedule.csv", index_col=0)
df

     1    2    3    4    5    6    7    8    9   10   11   12   13   14   15
a  1.0  1.0  NaN  NaN  1.0  1.0  NaN  1.0  1.0  NaN  1.0  1.0  NaN  1.0  1.0
b  NaN  NaN  1.0  1.0  1.0  NaN  NaN  NaN  1.0  1.0  1.0  1.0  NaN  1.0  NaN
c  1.0  1.0  NaN  1.0  1.0  NaN  NaN  1.0  NaN  1.0  1.0  NaN  NaN  NaN  NaN
d  1.0  NaN  NaN  NaN  1.0  1.0  1.0  1.0  NaN  NaN  NaN  1.0  1.0  1.0  1.0
e  1.0  NaN  1.0  NaN  1.0  NaN  1.0  NaN  1.0  NaN  1.0  NaN  1.0  NaN  1.0
f  NaN  1.0  NaN  NaN  NaN  1.0  NaN  NaN  NaN  1.0  1.0  NaN  1.0  NaN  NaN
g  NaN  1.0  1.0  NaN  NaN  1.0  1.0  1.0  NaN  NaN  NaN  NaN  NaN  1.0  1.0
h  1.0  1.0  NaN  1.0  NaN  1.0  NaN  NaN  1.0  1.0  NaN  NaN  1.0  1.0  NaN
i  NaN  NaN  1.0  NaN  NaN  NaN  1.0  NaN  1.0  NaN  NaN  1.0  NaN  1.0  NaN
j  1.0  NaN  1.0  NaN  1.0  NaN  NaN  1.0  NaN  1.0  NaN  1.0  NaN  NaN  1.0

In [2]:
df.shape

(10, 15)

In [4]:
# schedule = df.values.reshape(-1)

val_list = []
for person in df.index:
    for day in range(df.shape[1]):
        val_list.append(str("x_" + person + "_" + str(day+1)))
reshape_val_list = np.array(val_list).reshape(df.shape)

In [5]:
reshape_val_list[:, 0]

array(['x_a_1', 'x_b_1', 'x_c_1', 'x_d_1', 'x_e_1', 'x_f_1', 'x_g_1',
       'x_h_1', 'x_i_1', 'x_j_1'], dtype='<U6')

In [14]:
def maximize():
    output = "maximize\n"

    for col in df:
        line = ""
        for i, is_work in enumerate(df[col]):
            if is_work == 1:
                line += (reshape_val_list[i, int(col)-1] + " + ")
        output += (line + "\n")
    output = output.rstrip(' + \n')
    return output + "\n"

In [15]:
print(maximize())

maximize
x_a_1 + x_c_1 + x_d_1 + x_e_1 + x_h_1 + x_j_1 +
x_a_2 + x_c_2 + x_f_2 + x_g_2 + x_h_2 +
x_b_3 + x_e_3 + x_g_3 + x_i_3 + x_j_3 +
x_b_4 + x_c_4 + x_h_4 +
x_a_5 + x_b_5 + x_c_5 + x_d_5 + x_e_5 + x_j_5 +
x_a_6 + x_d_6 + x_f_6 + x_g_6 + x_h_6 +
x_d_7 + x_e_7 + x_g_7 + x_i_7 +
x_a_8 + x_c_8 + x_d_8 + x_g_8 + x_j_8 +
x_a_9 + x_b_9 + x_e_9 + x_h_9 + x_i_9 +
x_b_10 + x_c_10 + x_f_10 + x_h_10 + x_j_10 +
x_a_11 + x_b_11 + x_c_11 + x_e_11 + x_f_11 +
x_a_12 + x_b_12 + x_d_12 + x_i_12 + x_j_12 +
x_d_13 + x_e_13 + x_f_13 + x_h_13 +
x_a_14 + x_b_14 + x_d_14 + x_g_14 + x_h_14 + x_i_14 +
x_a_15 + x_d_15 + x_e_15 + x_g_15 + x_j_15

In [8]:
def subject_to():
    output = "subject to\n"
    for col in df:
        line = ""
        for i, is_work in enumerate(df[col]):
            if is_work == 1:
                line += (reshape_val_list[i, int(col)-1] + " + ")
        line = line.rstrip(' + ')
        output += (line + " >= 3\n")
        output += (line + " <= 4\n")
    return output

In [9]:
print(subject_to())

subject to
x_a_1 + x_c_1 + x_d_1 + x_e_1 + x_h_1 + x_j_1 >= 3
x_a_1 + x_c_1 + x_d_1 + x_e_1 + x_h_1 + x_j_1 <= 4
x_a_2 + x_c_2 + x_f_2 + x_g_2 + x_h_2 >= 3
x_a_2 + x_c_2 + x_f_2 + x_g_2 + x_h_2 <= 4
x_b_3 + x_e_3 + x_g_3 + x_i_3 + x_j_3 >= 3
x_b_3 + x_e_3 + x_g_3 + x_i_3 + x_j_3 <= 4
x_b_4 + x_c_4 + x_h_4 >= 3
x_b_4 + x_c_4 + x_h_4 <= 4
x_a_5 + x_b_5 + x_c_5 + x_d_5 + x_e_5 + x_j_5 >= 3
x_a_5 + x_b_5 + x_c_5 + x_d_5 + x_e_5 + x_j_5 <= 4
x_a_6 + x_d_6 + x_f_6 + x_g_6 + x_h_6 >= 3
x_a_6 + x_d_6 + x_f_6 + x_g_6 + x_h_6 <= 4
x_d_7 + x_e_7 + x_g_7 + x_i_7 >= 3
x_d_7 + x_e_7 + x_g_7 + x_i_7 <= 4
x_a_8 + x_c_8 + x_d_8 + x_g_8 + x_j_8 >= 3
x_a_8 + x_c_8 + x_d_8 + x_g_8 + x_j_8 <= 4
x_a_9 + x_b_9 + x_e_9 + x_h_9 + x_i_9 >= 3
x_a_9 + x_b_9 + x_e_9 + x_h_9 + x_i_9 <= 4
x_b_10 + x_c_10 + x_f_10 + x_h_10 + x_j_10 >= 3
x_b_10 + x_c_10 + x_f_10 + x_h_10 + x_j_10 <= 4
x_a_11 + x_b_11 + x_c_11 + x_e_11 + x_f_11 >= 3
x_a_11 + x_b_11 + x_c_11 + x_e_11 + x_f_11 <= 4
x_a_12 + x_b_12 + x_d_12 + x_i_12 + x_j_12 >= 3
x_a_12 + x_b_12 + x_d_12 + x_i_12 + x_j_12 <= 4
x_d_13 + x_e_13 + x_f_13 + x_h_13 >= 3
x_d_13 + x_e_13 + x_f_13 + x_h_13 <= 4
x_a_14 + x_b_14 + x_d_14 + x_g_14 + x_h_14 + x_i_14 >= 3
x_a_14 + x_b_14 + x_d_14 + x_g_14 + x_h_14 + x_i_14 <= 4
x_a_15 + x_d_15 + x_e_15 + x_g_15 + x_j_15 >= 3
x_a_15 + x_d_15 + x_e_15 + x_g_15 + x_j_15 <= 4

In [12]:
def bounds():
    output = "bounds\nbinary\n"
    for col in df:
        line = ""
        for i, is_work in enumerate(df[col]):
            if is_work == 1:
                line += (reshape_val_list[i, int(col)-1] + " ")
        output += (line + "\n")
    return output

In [13]:
print(bounds())

bounds
binary
x_a_1 x_c_1 x_d_1 x_e_1 x_h_1 x_j_1
x_a_2 x_c_2 x_f_2 x_g_2 x_h_2
x_b_3 x_e_3 x_g_3 x_i_3 x_j_3
x_b_4 x_c_4 x_h_4
x_a_5 x_b_5 x_c_5 x_d_5 x_e_5 x_j_5
x_a_6 x_d_6 x_f_6 x_g_6 x_h_6
x_d_7 x_e_7 x_g_7 x_i_7
x_a_8 x_c_8 x_d_8 x_g_8 x_j_8
x_a_9 x_b_9 x_e_9 x_h_9 x_i_9
x_b_10 x_c_10 x_f_10 x_h_10 x_j_10
x_a_11 x_b_11 x_c_11 x_e_11 x_f_11
x_a_12 x_b_12 x_d_12 x_i_12 x_j_12
x_d_13 x_e_13 x_f_13 x_h_13
x_a_14 x_b_14 x_d_14 x_g_14 x_h_14 x_i_14
x_a_15 x_d_15 x_e_15 x_g_15 x_j_15

In [16]:
print(maximize() + subject_to() + bounds() + "end")

maximize
x_a_1 + x_c_1 + x_d_1 + x_e_1 + x_h_1 + x_j_1 +
x_a_2 + x_c_2 + x_f_2 + x_g_2 + x_h_2 +
x_b_3 + x_e_3 + x_g_3 + x_i_3 + x_j_3 +
x_b_4 + x_c_4 + x_h_4 +
x_a_5 + x_b_5 + x_c_5 + x_d_5 + x_e_5 + x_j_5 +
x_a_6 + x_d_6 + x_f_6 + x_g_6 + x_h_6 +
x_d_7 + x_e_7 + x_g_7 + x_i_7 +
x_a_8 + x_c_8 + x_d_8 + x_g_8 + x_j_8 +
x_a_9 + x_b_9 + x_e_9 + x_h_9 + x_i_9 +
x_b_10 + x_c_10 + x_f_10 + x_h_10 + x_j_10 +
x_a_11 + x_b_11 + x_c_11 + x_e_11 + x_f_11 +
x_a_12 + x_b_12 + x_d_12 + x_i_12 + x_j_12 +
x_d_13 + x_e_13 + x_f_13 + x_h_13 +
x_a_14 + x_b_14 + x_d_14 + x_g_14 + x_h_14 + x_i_14 +
x_a_15 + x_d_15 + x_e_15 + x_g_15 + x_j_15
subject to
x_a_1 + x_c_1 + x_d_1 + x_e_1 + x_h_1 + x_j_1 >= 3
x_a_1 + x_c_1 + x_d_1 + x_e_1 + x_h_1 + x_j_1 <= 4
x_a_2 + x_c_2 + x_f_2 + x_g_2 + x_h_2 >= 3
x_a_2 + x_c_2 + x_f_2 + x_g_2 + x_h_2 <= 4
x_b_3 + x_e_3 + x_g_3 + x_i_3 + x_j_3 >= 3
x_b_3 + x_e_3 + x_g_3 + x_i_3 + x_j_3 <= 4
x_b_4 + x_c_4 + x_h_4 >= 3
x_b_4 + x_c_4 + x_h_4 <= 4
x_a_5 + x_b_5 + x_c_5 + x_d_5 + x_e_5 + x_j_5 >= 3
x_a_5 + x_b_5 + x_c_5 + x_d_5 + x_e_5 + x_j_5 <= 4
x_a_6 + x_d_6 + x_f_6 + x_g_6 + x_h_6 >= 3
x_a_6 + x_d_6 + x_f_6 + x_g_6 + x_h_6 <= 4
x_d_7 + x_e_7 + x_g_7 + x_i_7 >= 3
x_d_7 + x_e_7 + x_g_7 + x_i_7 <= 4
x_a_8 + x_c_8 + x_d_8 + x_g_8 + x_j_8 >= 3
x_a_8 + x_c_8 + x_d_8 + x_g_8 + x_j_8 <= 4
x_a_9 + x_b_9 + x_e_9 + x_h_9 + x_i_9 >= 3
x_a_9 + x_b_9 + x_e_9 + x_h_9 + x_i_9 <= 4
x_b_10 + x_c_10 + x_f_10 + x_h_10 + x_j_10 >= 3
x_b_10 + x_c_10 + x_f_10 + x_h_10 + x_j_10 <= 4
x_a_11 + x_b_11 + x_c_11 + x_e_11 + x_f_11 >= 3
x_a_11 + x_b_11 + x_c_11 + x_e_11 + x_f_11 <= 4
x_a_12 + x_b_12 + x_d_12 + x_i_12 + x_j_12 >= 3
x_a_12 + x_b_12 + x_d_12 + x_i_12 + x_j_12 <= 4
x_d_13 + x_e_13 + x_f_13 + x_h_13 >= 3
x_d_13 + x_e_13 + x_f_13 + x_h_13 <= 4
x_a_14 + x_b_14 + x_d_14 + x_g_14 + x_h_14 + x_i_14 >= 3
x_a_14 + x_b_14 + x_d_14 + x_g_14 + x_h_14 + x_i_14 <= 4
x_a_15 + x_d_15 + x_e_15 + x_g_15 + x_j_15 >= 3
x_a_15 + x_d_15 + x_e_15 + x_g_15 + x_j_15 <= 4
bounds
binary
x_a_1 x_c_1 x_d_1 x_e_1 x_h_1 x_j_1
x_a_2 x_c_2 x_f_2 x_g_2 x_h_2
x_b_3 x_e_3 x_g_3 x_i_3 x_j_3
x_b_4 x_c_4 x_h_4
x_a_5 x_b_5 x_c_5 x_d_5 x_e_5 x_j_5
x_a_6 x_d_6 x_f_6 x_g_6 x_h_6
x_d_7 x_e_7 x_g_7 x_i_7
x_a_8 x_c_8 x_d_8 x_g_8 x_j_8
x_a_9 x_b_9 x_e_9 x_h_9 x_i_9
x_b_10 x_c_10 x_f_10 x_h_10 x_j_10
x_a_11 x_b_11 x_c_11 x_e_11 x_f_11
x_a_12 x_b_12 x_d_12 x_i_12 x_j_12
x_d_13 x_e_13 x_f_13 x_h_13
x_a_14 x_b_14 x_d_14 x_g_14 x_h_14 x_i_14
x_a_15 x_d_15 x_e_15 x_g_15 x_j_15